<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Hello world!</title>
        
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>

    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container">
            <span class="navbar-brand">
                My Awesome Dashing Application
            </span>
        </nav>

        <div class="container dashboard-content">
            <p>Let's do some dashing, shall we?</p>

            <p class="boxed">This is the Foo Bar page. Let's do foo bar, while
            we foo bar so we can foo bar!</p>

            <img src="https://media.makeameme.org/created/foo-bar.jpg"
            alt="foobar" />
            
        </div>

        <footer class="footer">
            <div class="container">
                <div class="footer">
                    <div class="d-flex flex-row justify-content-between">
                        <div class="copyright">
                            &copy; 2020 Awesome Corp.
                        </div>
                    </div>
                </div>                    
            </div>
        </footer>
    </body>
</html>

